<a href="https://colab.research.google.com/github/shkimusw/bigdata/blob/main/%5B3%EC%A3%BC%EC%B0%A8_%EA%B0%95%EC%9D%98%5D_%E1%84%82%E1%85%A1%E1%84%8B%E1%85%B4_%E1%84%8E%E1%85%A5%E1%86%BA_%E1%84%8F%E1%85%A9%E1%84%85%E1%85%A2%E1%86%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 경제빅데이터입문

In [ ]:
print("Hello, Big Data")   #따옴표 안에 출력하고 싶은 말 쓰기. # 다음에 쓰는 말은 코드로 인식이 되지 않습니다.

Hello, Big Data

In [ ]:
print(356*10)    #곱셈

3560

In [ ]:
print(356**2)  #제곱

126736

In [ ]:
# 변수 만들기. 변수 이름은 아무거나 가능 (숫자로 시작하는 것 제외)
name='파이쏭'
print(name)

파이쏭

In [ ]:
name2='빅데이터'
print(name2)

빅데이터

In [ ]:
name='원더키디'
print(2020, name,  '화이팅!')

2020 원더키디 화이팅!

In [ ]:
#input 함수
name=input()
print(name+'님! 안녕하세요.')

김성희
김성희님! 안녕하세요.

In [ ]:
name=input('이름을 입력해주세요: ')
print(name+'님 안녕하세요!')

이름을 입력해주세요: 김성희
김성희님 안녕하세요!

In [ ]:
age=input('나이를 입력해주세요: ')
print(age-4)

나이를 입력해주세요: 35

TypeError: ignored

In [ ]:
age=input('나이를 입력해주세요: ')
print(int(age)-4)

나이를 입력해주세요: 25
21

In [ ]:
name=input('이름을 입력하세요: ')
age=int(input('나이를 입력하세요: '))
print('안녕하세요,', name+'님! 저는 처음에 '+str(age-4)+'살인 줄 알았어요!')

이름을 입력하세요: 김성희
나이를 입력하세요: 30
안녕하세요, 김성희님! 저는 처음에 26살인 줄 알았어요!

In [ ]:
name=input('이름을 입력하세요: ')
age=int(input('나이를 입력하세요: '))
print('안녕하세요,', name+'님! 저는 처음에 '+(age-4)+'살인 줄 알았어요!')

이름을 입력하세요: 김성희
나이를 입력하세요: 30

TypeError: ignored